body {
    color: #115271;
}

.media {
    margin: 15px auto;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

.media:nth-of-type(1) {
    border-top: 1px solid black;
    padding-top : 1em;
}

.makaleler {
    padding-top: 0.5rem;
    font-size: 2.5rem;
}

.navbar {
    background-color: #199BD9;
}

.sidebar {
    background-color: #A9E0F1; 
}

.card-deck {
    margin: 0;
}

.card-body h3 {
    text-align: center;
}

.card-body h5 {
    font-style: italic;
}

.text_content {
    text-indent: 60px;
}

a.nav-link {
    margin: 0 3em;
    color: #80CBEE;
}

.active {
    background-color: #45B2E5 ;
}

.footer {
    background-color: #213540;
    color: #80CBEE;
    margin-top: 30px;
}

table {
    width: 100%;
    color: white;
}

table, td {
    border-bottom: 1px solid white;
}

.tabelwaktu {
    background-color: #45B2E5;
    margin: 1em 20%;
    padding: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tabelwaktu h6 {
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.jumbotron {
    background-image: url("img/header.png");
    background-size: cover;
}

.login-logo {
    float: right;
}

.contactinfo {
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.contactinfo img {
    margin-bottom: 5px;
}

.review {
    margin-top: 15px;
    align-items: center;
    color: #115271;
}

.review h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #80CBEE;
}

.review .card-header {
    background-color: #80CBEE;
}

.message {
    bottom: 10px;
    right: 10px;
    position: fixed;
    width:50px;
    z-index: 1;
}
#navigasi {
    position:relative;
    line-height:30px;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
   }
   
   #navigasi a {
    display:block;
    padding:8px 16px;
    background-color:#199BD9;
    color:#fff;
    text-decoration:none;
   }
   
   #navigasi a:hover {
    background-color:#45B2E5;
    color:#fff;
   }
   
   #navigasi li {
    position:relative;
    float:right;
    bottom: 80px;
   }
   
   #navigasi ul {
    position:absolute;
    top: 115px;
    right: 0px;
    display:none;
    text-align: center;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
   }
   
   #navigasi li ul a{
    width:12em;
    height:auto;
    float:left;
   }
   
   #navigasi li:hover ul{
    display:block;
   }
   
   #navigasi li:hover ul ul{
    display:none;
   }

